<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(content)">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:text="${title}">Smart Contact</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
	integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="" th:href="@{/css/myStyle.css}" class="rel" />


</head>

<body>

	<!-- Nav Bar -->

	<nav class=" navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"> <img src="" alt="Logo"
				th:src="@{/img/phone-book.png}" width="38" height="35"
				class="d-inline-block align-text-top"> Smart contact manager <span
				style="font-size: 12px;"> V1.0.0</span>
			</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="#" th:href="@{/}"><i
							class="fas fa-home fa-lg"></i> Home</a></li>

					<li class="nav-item"><a class="nav-link active" href="#"
						th:href="@{/user/user-profile}"> <i class="fas fa-user fa-lg"></i>
							<span th:text="${user.name}"></span>
					</a></li>

					<li class="nav-item"><a class="nav-link active" href="#"
						th:href="@{/logout}"><i class="fas fa-power-off fa-lg"></i>
							Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>


	<!-- End of Nav Bar -->




	<!--Start SideBAr  -->

	<div class="sidebar">
		<span onclick="togleSidebar()" class="crossbtn">&times;</span> <a
			href="#" th:href="@{/user/index}" class="item"><i
			class="fas fa-home"></i> Home</a> <a href="#"
			th:href="@{/user/contacts/0}" class="item"><i
			class="fas fa-address-book"></i> Contacts</a> <a href="#"
			th:href="@{/user/add-contact}" class="item"><i
			class="fas fa-user-plus"></i> Add Contact</a> <a href="#"
			th:href="@{/user/user-profile}" class="item"><i
			class="fas fa-user"></i> Profile</a> <a href="#" th:href="@{/user/user-settings}" class="item"><i
			 class="fas fa-cog"></i> Settings</a> <a
			href="#" th:href="@{/logout}" class="item"><i
			class="fas fa-power-off"></i> Logout</a>
		<div class="divider"></div>
	</div>


	<!--End SideBAr  -->

	<!--Start content  -->

	<div class="content ">
		<i onclick="togleSidebar()" style="color: white;"
			class="fas fa-bars m-3 cts"></i>

		<div class="container">
			<div th:replace="${content}"></div>
		</div>
	</div>

	<!--end SideBAr  -->


	<!-- Java Script Boot Strap -->

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
		integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<script type="text/javascript" src="" th:src="@{/js/myJs.js}"></script>
</body>
</html>