<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
	th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>DashBoard Page</title>
</head>
<body>
	<section>
		<div class="container py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-md-5">
					<div th:if="${session.message}"
						th:classappend=${session.message.type} class="alert">
						<p class="text-center" th:text=${session.message.content}></p>
						<th:block th:text="${#session.removeAttribute('message')}"></th:block>
					</div>
					<div class="card mt-4">
						<div class="card-body">
							<form th:action="@{/user/process-changePass}" action="#" method="post">
								<div class="text-center">
									<img alt="" src="" th:src="@{/img/changepassword.png}" width="70px;">
								</div>
								<h2 class="text-center">Change Your Password</h2>
								<div class="mb-3">
										<input type="password" class="form-control" name="oldpassword"
										placeholder="Enter your old password"
										 minlength="5" maxlength="500"
										id="exampleInputEmail1" aria-describedby="emailHelp" required>
								</div>
								
								<div class="mb-3">
										<input type="password" class="form-control" name="newpassword"
										placeholder="Enter your new password"
										 minlength="5" maxlength="500"
										id="exampleInputEmail1" aria-describedby="emailHelp" required>
								</div>
								
								<div class="container text-center">
									<button type="submit" class="btn btn-warning">Save Changes</button>
								</div>	
							</form>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>