body {
	background:	#6a11cb;
	}
.banner {
	width: 100%;
	height: 92vh;
	background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)) ,url(../img/homeback.jpg);
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position:center;
  	position:relative;
	color: white;
	
}
.my-card {
	padding: 20px;
	background: #FFFFFF;
}
.home-text {
	color: white;
  	animation-name: example;
  	animation-duration: 6s;
}


@keyframes example {
  from {color: red;}
  to {color: yellow;}
}


@media only screen and (max-width: 600px) {
	.sidebar {
		display:none;
		width: 80% !important;
		background: white;
		height: 100%;
		position: fixed;
		padding-top: 20px;
	}
	.content {
		margin-left: 0% !important;
	}
}

.sidebar{
	width: 18%;
	background: white;
	height: 100%;
	position: fixed;
	padding-top: 45px;
	z-index: 9999999999999999999999;
}
.sidebar a {
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color: gray;
}
.sidebar a:hover {
	background:blue;
	color: white;
}
.sidebar .divider {
	height: .5px;
	width: 100%;
	background: #c4e7f5;
	margin-top: 10px;
}
.content {
	margin-left: 18%;
}
.content .cts {
	cursor: pointer;
}
.sidebar .crossbtn {
	position: absolute;
	top: 0;
	right: 35px;
	font-size: 36px;
	cursor: pointer;	 
}
.contact_photo {
	width: 30px;
	height: 35px;
	object-fit:cover;
}
.gradient-custom {
/* fallback for old browsers */
background: #f6d365;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}

.search-container {
	position: relative;
}
.search-result {
	position: absolute;
	background: white;
	width: 100%;
	padding: 10px;
	border: 1px solid gray;
	display: none;
}

