<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(content)">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:text="${title}">Smart Contact</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
	crossorigin="anonymous">
<link rel="stylesheet" href="" th:href="@{/css/myStyle.css}" class="rel" />

</head>

<body>

	<!-- Nav Bar -->

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"> <img
				src="" alt="Logo" th:src="@{/img/phone-book.png}"
				width="38" height="35" class="d-inline-block align-text-top">
				Smart contact manager
			</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item" >
					<a 
					class="nav-link active" 
						aria-current="page" href="#" th:href="@{/}">HOME</a></li>

					<li class="nav-item"><a class="nav-link active" href="#" th:href="@{/about/}">ABOUT</a></li>


					<li class="nav-item"><a class="nav-link active" href="#"
						th:href="@{/signin/}">LOGIN</a></li>

					<li class="nav-item"><a class="nav-link active" href="#"
						th:href="@{/signup/}">SIGN UP</a></li>
				</ul>
			</div>
		</div>
	</nav>


	<!-- End of Nav Bar -->




	<div th:replace="${content}"></div>






	<!-- Java Script Boot Strap -->

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
		crossorigin="anonymous"></script>
</body>
</html>